{% extends 'social_distribution/base.html' %}
{% load static %}
{% block title %}Admin Controls{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basic_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
<script src="{% static 'js/node-admin.js' %}"></script>

<div class="content">
    <h1 class="admin-header">
        Admin Options
        <a href="{% url 'admin:index' %}" target="_blank" class="admin-panel"><i class="fas fa-user-shield"></i> Admin Panel</a>
    </h1>

    <br>

    <h2>Set Local Node Login</h2>
    <form action="{% url 'set_node_info' %}" method="post" id="set-info" class="form">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required value="{{ username }}">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" class="btn">Set</button>
    </form>
    <div id="set-info-message"></div>

    <br>

    <h2>Connect to a node</h2>
    <form action="{% url 'connect_node' %}" method="post" id="add-node" class="form">
        {% csrf_token %}
        <label for="node_address">Address:</label>
        <input type="text" id="node_address" name="host" required>
        <label for="node_username">Username:</label>
        <input type="text" id="node_username" name="username" required>
        <label for="node_password">Password:</label>
        <input type="password" id="node_password" name="password" required>
        <button type="submit" class="btn">Connect</button>
    </form>
    <div id="add-node-message"></div>


    <h2>Connected Nodes</h2>
    <div class="nodes">
        <ul id="node-list">
            {% for node in nodes %}
                <li>
                    <div class="node">
                            <h3>
                                Host: {{ node.host }} 
                                {% if node.outgoing %}
                                    <form action="{% url 'remove_connection' %}" class="remove-node">
                                        {% csrf_token %}
                                        <input type="hidden" name="host" value="{{ node.host }}">
                                        <button type="submit" class="btn btn-primary">Remove Outgoing</button>
                                    </form>
                                {% endif %}
                            </h3>
                            
                        <span>Outgoing = {{ node.outgoing }}</span>
                        <br>
                        <span>Incoming = {{ node.incoming }}</span>
                    </div>
                </li>
                <br>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}