{% extends 'social_distribution/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/all_authors.css' %}">

<div class="content authors-list">
    <h1>All Authors</h1>
    
    <form class="example" method="get" action="{% url 'search_authors' %}">
      <input type="text" placeholder="Search by username..." name="search">
      <button type="submit">
          <img src="{% static 'img/search.png' %}" alt="Search Icon">
      </button>
    </form>
    
    {% if message %}
      <p class="search-message">{{ message }}</p>
    {% endif %}
    
    {% for author in authors %}
        <div class="author">
            <h3><a href="{{ author.page }}"><div class="author-name">{{ author.display_name }}</div></a></h3>
            <p>Username: {{ author.username }}</p>
            {% if user.is_authenticated and user.author != author %}
                {% if author in user.author.following.all %}
                    <form action="{% url 'unfollow_author' author.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Unfollow</button>
                    </form>
                {% else %}
                    <form action="{% url 'send_follow_request' author.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
