{% extends 'social_distribution/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/all_authors.css' %}">

<div class="content authors-list">
    <h1>All Authors</h1>
    
    <form class="example" method="get" action="{% url 'search_authors' %}">
      <input type="text" placeholder="Search by username..." name="search">
      <button type="submit">
          <img src="{% static 'img/search.png' %}" alt="Search Icon">
      </button>
    </form>
    
    {% if message %}
      <p class="search-message">{{ message }}</p>
    {% endif %}
    
    {% for author in page_obj %}
        <div class="author">
            <div class="author-header">
                <div class="author-info">
                    <h3>
                        <a href="{{ author.page }}">
                            <div class="author-name">{{ author.display_name }}</div>
                        </a>
                    </h3>
                    <p>Username: {{ author.username }}</p>
                </div>
                <div class="author-actions">
                    {% if user.is_authenticated and user.author != author %}
                        {% if author in user.author.following.all %}
                            <form action="{% url 'unfollow_author' author.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="unfollow-btn">Unfollow</button>
                            </form>
                        {% else %}
                            <form action="{% url 'send_follow_request' author.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="follow-btn">Follow</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
    {% else %}
        <a href="#">&laquo;</a>
    {% endif %}
    
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="active" href="?page={{ num }}">{{ num }}</a>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
    {% else %}
        <a href="#">&raquo;</a>
    {% endif %}
</div>

    
</div>
{% endblock %}
