{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Social Distribution{% endblock %}</title>
        <link rel="stylesheet" type="text/css"  href="{% static "css/basic_style.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <!-- Copy post link script -->
        <script src="{% static 'js/copy-post-link.js' %}" defer></script>
        <script src="{% static 'js/like-comment.js' %}" defer></script>
    </head>
    
    <body>
        {% include 'social_distribution/navbar.html' %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <main>
            {% block content %}{% endblock %}
        </main>
        <script src="{% static 'js/post-intersection.js' %}" defer></script>
        <script src="{% static 'js/like-animation.js' %}" defer></script>
    </body>
</html>