<!--References
https://stackoverflow.com/questions/62124568/how-to-edit-users-profile-view-with-django
-->
{% extends 'social_distribution/base.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

<div class="content">
    <h1>Edit Your Profile</h1>

    <form method="post">
        {% csrf_token %}
        <div class="edit form-group">
            <label for="display_name">Display Name:</label>
            <input type="text" id="display_name" name="display_name" value="{{ author.display_name }}" required>
        </div>

        <div class="edit form-group">
            <label for="github">GitHub:</label>
            <input type="url" id="github" name="github" value="{{ author.github }}" placeholder="https://github.com/username">
        </div>

        <div class="edit form-group">
            <label for="profile_image">Profile Image:</label>
            <input type="url" id="profile_image" name="profile_image" value="{{ author.profile_image }}" placeholder="https://example.com/path/to/image.ext">
        </div>

        <button type="submit" class="edit">Save Changes</button>
    </form>
</div>
{% endblock %}