{% extends 'social_distribution/base.html' %}
{% load static %}

{% block title %}Following{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/followers.css' %}">

{% block content %}
<div class="content">
    <h1>Who You Follow</h1>
    {% if following %}
        <ul>
            {% for follow in following %}
                <li>
                    <a href="{% url 'profile' follow.id %}">{{ follow.display_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not following anyone.</p>
    {% endif %}
</div>
{% endblock %}
