{% extends 'social_distribution/base.html' %}
{% load static %}

{% block title %}Followers{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/follows.css' %}">

<div class="content follow">
    <h1>Your Followers</h1>
    {% if followers %}
        <ul>
            {% for follower in followers %}
                <li>
                    <a href="{% url 'profile' follower.id %}">{{ follower.display_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no followers.</p>
    {% endif %}
    </div>
{% endblock %}
