{% extends 'social_distribution/base.html' %}
{% load static %}

{% block title %}Friends{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/follows.css' %}">

<div class="content follow">
    <h1>Your Friends</h1>
    {% if friends %}
        <ul>
            {% for friend in friends %}
                <li>
                    <a href="{% url 'profile' friend.id %}">{{ friend.display_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no friends (mutual followers).</p>
    {% endif %}
</div>
{% endblock %}
